html {
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

* {
  box-sizing: border-box; }

header {
  background-color: #e0af6e;
  padding: 10px; }
  header form {
    padding: 5px;
    flex: 1; }

.head1 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center; }
  .head1 > div {
    flex: 1; }
  .head1 h1 {
    justify-content: center; }

.header-img {
  padding: 5px;
  flex: 1; }

h1 {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex: 1; }

nav ul li {
  font-family: "Roboto", sans-serif;
  font-size: 20px; }

.navegacion {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  padding: 15px; }
  .navegacion li {
    display: inline-block; }

.botonbuscar {
  width: auto;
  transition: width 2s; }
  .botonbuscar:hover {
    width: 100px; }

main {
  background-image: linear-gradient(to right, #22c1c3 0%, #fdbb2d 100%);
  font-family: "Roboto", sans-serif;
  padding: 10px; }

.publis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  column-gap: 70px;
  margin-left: auto;
  margin-right: auto;
  grid-template-areas: "titulo titulo" "publi1 publi2"; }

.titpub {
  grid-area: titulo;
  display: flex;
  justify-content: center; }

.publi1 {
  grid-area: publi1; }
  .publi1 h3, .publi1 p, .publi1 .img1 {
    text-align: center;
    padding: 5px; }

.publi2 {
  grid-area: publi2; }
  .publi2 h3, .publi2 p, .publi2 .img2 {
    text-align: center;
    padding: 5px; }

.publisd {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  column-gap: 70px;
  margin: auto;
  grid-template-areas: "titulod titulod" "publi1d publi2d" "publi3d publi4d" "publi5d publi6d" "publi7d publi8d" "publi9d publi10d"; }

.titpubd {
  grid-area: titulod;
  display: flex;
  justify-content: center; }

.publi1d {
  grid-area: publi1d; }
  .publi1d h3, .publi1d p, .publi1d .img1d {
    text-align: center;
    padding: 5px; }

.publi2d {
  grid-area: publi2d; }
  .publi2d h3, .publi2d p, .publi2d .img2d {
    text-align: center;
    padding: 5px; }

.publi3d {
  grid-area: publi3d; }
  .publi3d h3, .publi3d p, .publi3d .img3d {
    text-align: center;
    padding: 5px; }

.publi4d {
  grid-area: publi4d; }
  .publi4d h3, .publi4d p, .publi4d .img4d {
    text-align: center;
    padding: 5px; }

.publi5d {
  grid-area: publi5d; }
  .publi5d h3, .publi5d p, .publi5d .img5d {
    text-align: center;
    padding: 5px; }

.publi6d {
  grid-area: publi6d; }
  .publi6d h3, .publi6d p, .publi6d .img6d {
    text-align: center;
    padding: 5px; }

.publi7d {
  grid-area: publi7d; }
  .publi7d h3, .publi7d p, .publi7d .img7d {
    text-align: center;
    padding: 5px; }

.publi8d {
  grid-area: publi8d; }
  .publi8d h3, .publi8d p, .publi8d .img8d {
    text-align: center;
    padding: 5px; }

.publi9d {
  grid-area: publi9d; }
  .publi9d h3, .publi9d p, .publi9d .img9d {
    text-align: center;
    padding: 5px; }

.publi10d {
  grid-area: publi10d; }
  .publi10d h3, .publi10d p, .publi10d .img10d {
    text-align: center;
    padding: 5px; }

footer {
  background-image: linear-gradient(to left, #22c1c3 0%, #fdbb2d 100%);
  padding: 10px; }
  footer small {
    display: flex;
    width: 100%;
    justify-content: center; }

.foot1 {
  display: flex;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
  align-items: center; }
  .foot1 img {
    padding: 5px; }
  .foot1 p {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center; }

@media (max-width: 720px) {
  .publis {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
    column-gap: 70px;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas: "titulo" "publi1" "publi2"; }
  .publisd {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
    column-gap: 70px;
    margin: auto;
    grid-template-areas: "titulod" "publi1d" "publi2d" "publi3d" "publi4d" "publi5d" "publi6d" "publi7d" "publi8d" "publi9d" "publi10d"; }
  .mapa {
    display: flex;
    width: auto; } }

.stickyicon-list {
  position: fixed;
  top: 400px;
  transform: translateY(-50%); }

.stickyicon-list a {
  display: block;
  text-align: center;
  padding: 8px;
  transition: all 0.5s ease;
  color: white;
  font-size: 20px; }

.stickyicon-list a:hover {
  color: #000;
  width: 20px; }

.facebook {
  background: #3b5998;
  color: white; }

.twitter {
  color: white;
  background: #00acee; }

.google {
  color: white;
  background: #db4a39; }

.instagram {
  background: #3f729b;
  color: white; }

.maint {
  margin: 40px; }

.contactt {
  list-style: none;
  width: 50%; }

.noso {
  display: flex; }
  .noso p {
    align-self: center; }
